:root {
  font-family: Montserrat, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: inherit;
}
a:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

body {
  font-family: Montserrat;
  background-color: #242424;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-size: 64px;
  line-height: 1.1;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}

h3 {
  font-size: 21px;
  font-weight: 600;
}

h4 {
  font-size: 30px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6:hover {
  cursor: default;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: none;
  border:none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #242424;
  }
  a:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  button {
    background-color: transparent;
  }
  button,
  button:active,
  button:focus  {
    border:none;
  }
}